section#experience{

  h2{
    position: relative;
    top:-38px;
  }

  .job-timeline {
    .job-item {
      display: flex;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      position: relative;
      top: -50px;
      @for $indexOfCard from 1 through 2  {
        &:nth-child(#{$indexOfCard}) {
          transition-delay: $indexOfCard * .3s;
        }
      }
      .job-date {
        display: flex;
        padding-right: 15px;
        span.job-year{
          background-color: #5C5D61;
          padding: 0 10px;
          height: 30px;
          display: inline-block;
          line-height: 30px;
          }
        span.job-arrow{
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 16px 10px;
          border-color: transparent transparent transparent #5C5D61;
        }
      }

      .job-separator{
        display: flex;
        flex-direction: column;
        .job-dot{
          width: 30px;
          height: 30px;
          background-color: $gold;
          border-radius: 50%;
          box-shadow: 0 0 20px $gold;
        }
        .job-line{
          min-height: 10px;
          width: 2px;
          background-color: white;
          flex-grow: 1;
          margin-left: 14px;
          margin-top: 30px;
          margin-bottom: 30px;
          transition: all 0.5s ease-in-out;
          max-height: 0;
        }
      }

      .job-infos{
        padding-left: 30px;
        padding-bottom: 30px;
        h3{
          font-size: 1.7rem;
          font-weight: 600;
        }
        h4{
          margin-top: 6px;
          margin-bottom: 6px;
          font-size: 1.4rem;
        }
        p{
          color: rgb(255, 255, 255, 0.55);
          line-height: 1.3rem;
          margin-top: 10px;
          span{
            color: $gold;
          }
        }
      }
    }
  }
}

section#experience.is-visible div.job-timeline div.job-item{
 opacity: 1;
 top: 0;
}

section#experience div.job-timeline div.job-item{
  @for $indexOfCard from 1 through 2  {
    &:nth-child(#{$indexOfCard}) {
      .job-line {
        transition-delay: $indexOfCard * .4s;
      }
    }
  }
}
section#experience.is-visible div.job-timeline div.job-item .job-line{
  max-height: 200px;
}