header {
  display: flex;
  max-width: 70%;
  margin: 0 auto 40px;
  align-items: center;
  padding-top: 20px;
}
.headerLogo {
  width: 80px;
  height: 80px;
}
header nav {
  flex-grow: 1;
  text-align: center;
}
header nav a {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.3rem;
}

header nav a:hover {
  color: $gold;
}
header div.social a svg {
  display: inline-block;
  fill: rgba(255, 255, 255, 0.6);
  height: 30px;
  width: 30px;
  margin: 0 10px;
}
header div.social a svg:hover {
  fill: $gold;
}
