header {
  display: flex;
  max-width: 70%;
  margin: 0 auto 40px;
  align-items: center;
  padding-top: 20px;
}
.headerLogo {
  width: 80px;
  height: 80px;
}
header nav {
  flex-grow: 1;
  text-align: center;
}
header nav a {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.3rem;
}

header nav a:hover {
  color: $gold;
}
header div.social a svg {
  display: inline-block;
  fill: rgba(255, 255, 255, 0.6);
  height: 30px;
  width: 30px;
  margin: 0 10px;
}
header div.social a svg:hover {
  fill: $gold;
}

@media (max-width: 768px) {
  /* Styles spécifiques à la version mobile */
  header {
    max-width: 90%; // Par exemple, réduire la largeur pour s'adapter aux écrans mobiles
    padding: 10px 0; // Ajuster le padding pour l'espace mobile
  }

  .headerLogo {
    width: 60px; // Ajuster la taille du logo pour les écrans mobiles
    height: 60px;
  }

  header nav {
    font-size: 1rem; // Ajuster la taille de la police pour les écrans mobiles
  }

  header div.social a svg {
    height: 20px; // Ajuster la taille des icônes sociales pour les écrans mobiles
    width: 20px;
    margin: 0 5px; // Ajuster la marge pour les écrans mobiles
  }
}